In [ ]:
from google.colab import files
uploaded=files.upload()

Saving west_bengal.csv to west_bengal (1).csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
west_bengal=pd.read_csv('west_bengal.csv')
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0
1,Abdur Razzak Molla,FALTA,INC,2,10th Pass,2650450,0
2,Abhijit Bhattacharya,PURULIA,IND,0,Post Graduate,4439532,375000
3,Abir Chandra Mandal,CHHATNA,IND,0,Graduate Professional,809000,0
4,Adhikari Suvendu,NANDIGRAM,BJP,1,Post Graduate,10552749,0
...,...,...,...,...,...,...,...
562,Uttam Naskar,BISHNUPUR (SC),IND,0,10th Pass,511291,0
563,Uttara Singha Hazra,GARBETA,AITC,1,Graduate,17710285,6348523
564,Vibekananda Mondal,ULUBERIA UTTAR (SC),IND,0,12th Pass,11953,0
565,Vivekananda Bauri,RAGHUNATHPUR (SC),BJP,0,Graduate Professional,2030856,0
566,Yamini Kanta Mandi,MANBAZAR (ST),CPI(M),0,Post Graduate,3396148,1000000

In [ ]:
west_bengal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   candidate       567 non-null    object
 1   constituency    567 non-null    object
 2   party           567 non-null    object
 3   criminal_cases  567 non-null    int64
 4   education       567 non-null    object
 5   total_assets    567 non-null    int64
 6   liabilities     567 non-null    int64
dtypes: int64(3), object(4)
memory usage: 31.1+ KB

In [ ]:
west_bengal.describe()

       criminal_cases  total_assets   liabilities
count      567.000000  5.670000e+02  5.670000e+02
mean         0.839506  7.109702e+06  8.508290e+05
std          2.467597  2.341999e+07  3.407338e+06
min          0.000000  0.000000e+00  0.000000e+00
25%          0.000000  3.652070e+05  0.000000e+00
50%          0.000000  1.743550e+06  0.000000e+00
75%          1.000000  5.911767e+06  2.540000e+05
max         27.000000  4.302504e+08  4.268688e+07

In [ ]:
west_bengal.head()

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0
1,Abdur Razzak Molla,FALTA,INC,2,10th Pass,2650450,0
2,Abhijit Bhattacharya,PURULIA,IND,0,Post Graduate,4439532,375000
3,Abir Chandra Mandal,CHHATNA,IND,0,Graduate Professional,809000,0
4,Adhikari Suvendu,NANDIGRAM,BJP,1,Post Graduate,10552749,0

In [ ]:
west_bengal.head(10)

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0
1,Abdur Razzak Molla,FALTA,INC,2,10th Pass,2650450,0
2,Abhijit Bhattacharya,PURULIA,IND,0,Post Graduate,4439532,375000
3,Abir Chandra Mandal,CHHATNA,IND,0,Graduate Professional,809000,0
4,Adhikari Suvendu,NANDIGRAM,BJP,1,Post Graduate,10552749,0
5,Adhikary Nilanjan,NANDAKUMAR,BJP,0,Post Graduate,7793230,0
6,Aditya Kumar Bauri,SALTORA (SC),Bahujan Mukti Party,0,12th Pass,20000,0
7,Aditya Mahato,PURULIA,IND,0,8th Pass,9060000,0
8,Aditya Manik,KHANAKUL,IND,0,5th Pass,104958,0
9,Agniswar Naskar,BISHNUPUR (SC),BJP,1,Graduate,7424649,6814277

In [ ]:
west_bengal.iloc[25:32]

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities
25,Amitabha Chakraborti,SHYAMPUR,INC,2,Post Graduate,5999167,0
26,Amitav Naskar,JAYNAGAR (SC),RPI(A),0,Post Graduate,1220000,0
27,Amulya Maity,SABANG,BJP,1,Graduate,4047204,0
28,Ananda Kundu,BARUIPUR PASCHIM,IND,0,Illiterate,30026,0
29,Anandi Tudu,BALARAMPUR,BSP,0,10th Pass,0,0
30,Anath Bauri,CHHATNA,IND,0,8th Pass,48424,25000
31,Anil Chandra Mondal,GOSABA (SC),Revolutionary Socialist Party,0,Post Graduate,1230915,732000

In [ ]:
west_bengal.ind=west_bengal.sort_values('criminal_cases')
west_bengal.ind

<ipython-input-15-af4aabea488e>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  west_bengal.ind=west_bengal.sort_values('criminal_cases')

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0
132,D. Madhusudan Rao,KHARAGPUR SADAR,Humanity Universal Motion Party,0,10th Pass,3666000,2000000
133,Debabrata Mondal,BASANTI (SC),IND,0,Graduate,5673649,12000
135,Debajyoti Basu,SATGACHHIA,IND,0,Graduate,1644930,0
136,Debashis Barman,SABANG,Amra Bangalee,0,12th Pass,127000,0
...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000

In [ ]:
west_bengal=west_bengal.sort_values('criminal_cases')
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0
...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000

In [ ]:
ind_grt_10K=west_bengal[west_bengal['criminal_cases']>1]
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0
...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000

In [ ]:
west_bengal_grt_1=west_bengal[west_bengal['criminal_cases']>1]
west_bengal_grt_1

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities
335,Phiroja Bibi,PANSKURA PASCHIM,AITC,2,8th Pass,2031347,0
137,Debasis Das,KANTHI UTTAR,IND,2,12th Pass,356000,0
216,Jaykrishna Haldar,KULTALI (SC),SUCI(C),2,10th Pass,20600,0
223,Joydeb Halder,MANDIRBAZAR (SC),AITC,2,10th Pass,3585560,0
266,Manik Bhaumik,MOYNA,INC,2,Graduate,482837,252000
...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000

In [ ]:
west_bengal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567 entries, 0 to 86
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   candidate       567 non-null    object
 1   constituency    567 non-null    object
 2   party           567 non-null    object
 3   criminal_cases  567 non-null    int64
 4   education       567 non-null    object
 5   total_assets    567 non-null    int64
 6   liabilities     567 non-null    int64
dtypes: int64(3), object(4)
memory usage: 35.4+ KB

In [ ]:
west_bengal_inc=west_bengal[(west_bengal['constituency']=='Rashtriya Secular Majlis Party	') | (west_bengal['constituency']=='Indian National Congress	')]
west_bengal_inc

Empty DataFrame
Columns: [candidate, constituency, party, criminal_cases, education, total_assets, liabilities]
Index: []

In [ ]:
west_bengal['total']=west_bengal['total_assets']+west_bengal['criminal_cases']
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities,total
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0,160171
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0,18451
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0,308246
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0,1743550
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0,224700
...,...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772,23797557
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000,10794020
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626,192113329
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0,4201973
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000,17854059

In [ ]:
west_bengal['total_info']=west_bengal['total_assets']+west_bengal['liabilities']
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities,total,total_info
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0,160171,160171
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0,18451,18451
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0,308246,308246
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0,1743550,1743550
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0,224700,224700
...,...,...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772,23797557,25955315
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000,10794020,11543005
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626,192113329,199911936
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0,4201973,4201949
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000,17854059,34854032

In [ ]:
west_bengal['p_ind']=west_bengal['total_assets']+west_bengal['total']
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities,total,total_info,p_ind
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0,160171,160171,320342
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0,18451,18451,36902
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0,308246,308246,616492
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0,1743550,1743550,3487100
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0,224700,224700,449400
...,...,...,...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772,23797557,25955315,47595100
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000,10794020,11543005,21588025
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626,192113329,199911936,384226639
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0,4201973,4201949,8403922
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000,17854059,34854032,35708091

In [ ]:
west_bengal['p_ind']=west_bengal['liabilities']+west_bengal['total_info']
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities,total,total_info,p_ind
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0,160171,160171,160171
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0,18451,18451,18451
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0,308246,308246,308246
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0,1743550,1743550,1743550
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0,224700,224700,224700
...,...,...,...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772,23797557,25955315,28113087
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000,10794020,11543005,12292005
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626,192113329,199911936,207710562
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0,4201973,4201949,4201949
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000,17854059,34854032,51854032

In [ ]:
west_bengal.head()

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities,total,total_info,p_ind
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0,160171,160171,160171
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0,18451,18451,18451
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0,308246,308246,308246
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0,1743550,1743550,1743550
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0,224700,224700,224700

In [ ]:
west_bengal['ind_per_10K']=10000*west_bengal['criminal_cases']/west_bengal['total_assets']
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities,total,total_info,p_ind,ind_per_10K
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0,160171,160171,160171,0.000000
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0,18451,18451,18451,0.000000
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0,308246,308246,308246,0.000000
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0,1743550,1743550,1743550,0.000000
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0,224700,224700,224700,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772,23797557,25955315,28113087,0.005883
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000,10794020,11543005,12292005,0.013897
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626,192113329,199911936,207710562,0.000989
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0,4201973,4201949,4201949,0.057116
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000,17854059,34854032,51854032,0.015123

In [ ]:
west_bengal['ind_per_10K']=10000*west_bengal['p_ind']/west_bengal['liabilities']
west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities,total,total_info,p_ind,ind_per_10K
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0,160171,160171,160171,inf
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0,18451,18451,18451,inf
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0,308246,308246,308246,inf
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0,1743550,1743550,1743550,inf
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0,224700,224700,224700,inf
...,...,...,...,...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772,23797557,25955315,28113087,1.302876e+05
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000,10794020,11543005,12292005,1.641122e+05
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626,192113329,199911936,207710562,2.663425e+05
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0,4201973,4201949,4201949,inf
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000,17854059,34854032,51854032,3.050237e+04

In [ ]:
high_west_bengal=west_bengal[west_bengal['ind_per_10K']>20000]
high_west_bengal

Empty DataFrame
Columns: [candidate, constituency, party, criminal_cases, education, total_assets, liabilities, total, total_info, p_ind, ind_per_10K]
Index: []

In [ ]:
high_west_bengal=west_bengal[west_bengal['ind_per_10K']>20000]
high_west_bengal

,candidate,constituency,party,criminal_cases,education,total_assets,liabilities,total,total_info,p_ind,ind_per_10K
0,Abdul Hai Mallik,ONDA,IND,0,8th Pass,160171,0,160171,160171,160171,inf
367,Ramkrishna Maji,TALDANGRA,IND,0,12th Pass,18451,0,18451,18451,18451,inf
364,Ramesh Khanra,BAGNAN,IND,0,12th Pass,308246,0,308246,308246,308246,inf
361,Ram Sankar Halder,KULTALI (SC),CPI(M),0,12th Pass,1743550,0,1743550,1743550,1743550,inf
360,Ram Prasad Ghorai,ULUBERIA DAKSHIN,Indian Unity Centre,0,10th Pass,224700,0,224700,224700,224700,inf
...,...,...,...,...,...,...,...,...,...,...,...
537,Tapan Kumar Ghosh,GARBETA,CPI(M),14,Post Graduate,23797543,2157772,23797557,25955315,28113087,1.302876e+05
459,Sk. Mainuddin,JANGIPARA,Rashtriya Secular Majlis Party,15,Literate,10794005,749000,10794020,11543005,12292005,1.641122e+05
90,Bharati Ghosh,DEBRA,BJP,19,Post Graduate,192113310,7798626,192113329,199911936,207710562,2.663425e+05
204,Himangshu Das,KHEJURI (SC),CPI(M),24,10th Pass,4201949,0,4201973,4201949,4201949,inf
86,Barun Pramanik (Chitta),GOSABA (SC),BJP,27,Graduate,17854032,17000000,17854059,34854032,51854032,3.050237e+04